@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@200;300&display=swap');


* {
  margin: 0;
  padding: 0;
  border: none;
}



body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #7e3bc2;
  background-color: #FEF5FA;
}

/* headings and logos */

h1,
h2 {
  font-family: Playfair Display, sans-serif;
  letter-spacing: 3px;
  color: #33332e;
}

#logo {
  float: left;
  font-size 300%;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* navigation links */

#menu {
  font-size: 120%;
  font-weight: 500;
  letter-spacing: 3px;
  color: #7e3bc2;
}

#menu,
#logo {
  line-height: 70px;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
  margin-top: 30px;
  text-align: center;
}

#menu a {
  text-decoration: none;

}

#menu a:hover {
  border-bottom: 1px solid #7e3bc2;
}

.active {
  border-bottom: 1px solid #7e3bc2;
}

/* hero-image */

#hero-outer {
  height: 700px;
  width: 100%;
  overflow: hidden;

  position: relative;
}

#cover-text,
#cover-text h2 {
  color: rgb(255, 255, 255);
}

#hero-image {
  height: 700px;
  width: 100%;
  background: url('../images/Marie-portrait-1.jpg') no-repeat center center;
  background-size: cover;
}

/* cover-text */

#cover-text {
  font-size: 120%;
  font-family: Playfair Display, sans-serif;
  letter-spacing: 3px;
  font-display: center;
  text-align: center;

  width: 400px;
  height: 120px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  background-color: #df82df;
  opacity: .8;

  bottom: 60px;
  right: 200px;

  position: absolute;

}


/* introduction paragraph */

#introduction-paragragh {
  width: 80vw;
  padding-top: 7%;
  padding-left: 10%;
  text-align: center;
  overflow: hidden;
}

/* historical misconceptions */


#historical-misconceptions {
  height: 600px;
  width: auto;
  margin-top: 60px;
  padding-bottom: 40px;
  padding-top: 20px;
}


#left-about {
  padding-top: 50px;
  width: 33%;
  float: left;
}

#right-about {
  padding-top: 50px;
  width: 33%;
  float: right;
}

#center-about {
  padding-top: 20px;
  width: 33%;
  margin: 0 auto;
}

hr {
  border-top: 1px solid #3a3a3a;
  width: 100%;
  margin: 5px 0 auto;
  text-align: center;
}

.left-about-heading {
  width: 60%;
  float: right;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.right-about-heading {
  width: 60%;
  float: left;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.right-about-heading h2 {
  text-align: right;
}

.right-about-heading p {
  text-align: right;
}

#welcome {
  text-align: center;
  margin: 30px 0;
  margin-bottom: 40px;
  font-size: 280%;
  width: auto;


}

#circle-container {
  width: 300px;
  height: 300px;
  padding: 30px;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

#circle-cover-bg {
  background: url('../images/Marie-smoking.jpg') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}


/* timeline - timeline structure code was built with the coding tutorial 'How to Create a Vertical Timeline - HTML & CSS Tutorial' by dcode. 
Link here: https://www.youtube.com/watch?v=AIDiMA_C3sg
*/

h1 {
  text-align: center;
  font-size: 280%;
  margin-top: 30%;
  margin-bottom: 20px;
}

.timeline {
  margin: 0 auto;
  font-size: 77%;
  max-width: 25%;
  padding-right: 73%;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  font-family: 'Source Sans Pro', sans-serif;
  color: #7e3bc2;
  align-content: auto;
  overflow: hidden;
}

.timeline__component {
  margin: 0 20px 20px 20px;
}

.timeline__component--bg {
  padding: 1.5em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.timeline__component--bottom {
  margin-bottom: 0;
}

.timeline__middle {
  position: relative;
  background: #7e3bc2;
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #7e3bc2;
  border-radius: 50%;
}

.timeline__point--bottom {
  top: initial;
  bottom: 0;
}

.timeline__date--right {
  text-align: right;
}

.timeline__title {
  margin: 0;
  font-size: 1.15em;
  font-weight: bold;
}

.timeline__paragraph {
  line-height: 1.5;
}



/* biograpghy page */

#bio-image {
  width: 200px;
  height: 0px;
  padding-bottom: 20px;
  padding-top: 0px;
  margin-top: 0 auto;
  align-content: center;
  position: relative;
}

#bio>h2 {
  padding-top: 5%;
}

#bio>h3 {
  font-family: Playfair Display;
  color: #3a3a3a;
  padding-top: 5%;
}

#bio {
  width: auto;
  height: auto;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
}

#video>h2 {
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
}

#video {
  margin-right: 20%;
  padding-bottom: 20px;
  margin-left: 10%;

}

/* gallery */

#gallery {
  width: 100%;
  height: fit-content;
  margin: 100px;
  padding-inline: 30px;
  float: left;
  grid-template-columns: auto;
  grid-row: auto;
  border-radius: auto;
  border-bottom: 20px;
}

/* The code for the hover animation on the 'Gallery' page was built with the code example of '#1 Hover animation'
    by Vijay Thirugnanam on his website vijayt.com. Link: https://vijayt.com/post/hover-animation-blurred-image-and-other-css-tricks/
   */

img {
  margin: 5px;
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.2);
  border: 2px solid #df82df;
  padding: 2px;
}


/* footer */

footer {
  height: 150px;
}

.social-networks {
  text-align: center;
}

.social-networks>li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #7e3bc2;
}

/* media queries */

/* for mobile screen sizes of 370px wide and down */

@media screen and (max-width: 370px) {


  #logo {
    display: inline;
    margin: 0 auto;
    padding-left: 12px;
    margin-bottom: 5px;
  }

  #menu li {
    float: left;
    size-adjust: 20px;
    padding-bottom: 10px;
    display
  }

  #hero-outer {
    height: auto;
    width: 100%;
    overflow: hidden;

    position: relative;
  }

  #hero-image {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #cover-text {
    font-size: medium;
    width: 80%;
    height: 85px;
    margin-top: 350px;
    margin-left: 45px;
    margin-right: 25px;
  }

  #introduction-paragrapgh>h1 {
    font-size: 190%;
    padding-right: 20%;
    text-align: center;
  }

  #welcome {
    font-size: 190%;
  }

  #circle-container {
    width: 55vw;
    height: 35vh;
    padding: 20px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #circle-cover-bg {
    background: url('../images/Marie-smoking.jpg') no-repeat center center;
    height: 35vh;
    weight: 60wh;
    border-radius: 50%;
  }

  ti


}

@media screen and (max-width: 768px) {


  #h1 {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 10px
  }


  #menu {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    text-align: center;
  }

  #cover-text {
    bottom: 60px;
    right: 10px;
  }

  #introduction-paragrapgh>h1 {
    padding-right: 30px;
  }

  #introduction-paragrapgh {
    width: auto;
    margin-top: 30px;
    padding-bottom: 20px;
    padding-top: 0px;
    padding-left: 100px;
    text-align: center;
  }

  #welcome {
    padding-left: 30px;
    padding-bottom: 50px;
  }

  #historical-misconceptions {
    width: 65%;
    height: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
  }



  .left-about-heading,
  .right-about-heading {
    width: inherit;
  }

  .left-about-heading h2,
  .right-about-heading h2 {
    width: 100%;
    text-align: center;
  }

  .left-about-heading p,
  .right-about-heading p {
    text-align: center;
    padding: 0 20px;
  }
}

/* biograpgy section */

#menu>li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
  margin-top: 30px;
}

#bio-image {
  padding-left: 2px;
  margin-right: 30px;
}

#video {
  padding-left: 20%;
}

#footer {
  display: inline;
}

/* for larger to medium screen sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {

  #introduction-paragrapgh {
    width: 80%;
    text-align: center;
  }

  #historical-misconceptions {
    width: 65%;
    height: 1200px;
    margin: 0 auto;
  }

  #welcome {
    padding: 30px 0;
    margin: 0;
  }

  #left-about,
  #right-about {
    width: 100%;
    float: left;
    padding: 0;
  }

  #center-about {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;
  }

  hr {
    display: none;
  }

  #timeline {
    width: 65%;
    margin: 0 auto;
  }
}