@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@200;300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Source Sans Pro', sans-serif;; 
    font-weight: 300;
    color: #957DAD;
    background-color: #FEF5FA;
}

/* headings and logos */

h1, h2 {
    font-family: Playfair Display, sans-serif;
    letter-spacing:3px;
    color: #252522; 
}

#logo {
    float: left;
    font-size 300%;
    margin-left: 20px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 70px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;

}

#menu a:hover {
    border-bottom: 1px solid #957DAD;
}

.active {
    border-bottom: 1px solid #957DAD;
}

/* hero-image */

#hero-outer {
        height: 700px;
        width: 100%;
        overflow: hidden;

        position: relative;
}

#cover-text, #cover-text h2 {
    color: white;
}

#hero-image {
        height: 700px;
        width: 100%;
        background: url('../images/Marie-portrait-1.jpg') no-repeat center center;
        background-position: center;


/* animates zoom effect on loading page*/

      animation-name: hero-zoom; 
      animation-duration: 5s;
      animation-fill-mode: forwards;

}



/* creates the level of zoom for the hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1);
         }
    to{
        transform: scale(1.1);
       }
}

#cover-text {
    font-size: 130%;
    font-family: Playfair Display, sans-serif;
    letter-spacing: 3px;
    font-display: center;
    text-align: center;

    width: 400px;
    height: 120px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px; 
    background-color: #f7c9d7;
    opacity: .8;

    bottom: 60px;
    right: 200px;

    position: absolute;

}

