@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@200;300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #7e3bc2;
    background-color: #FEF5FA;
}

/* headings and logos */

h1,
h2 {
    font-family: Playfair Display, sans-serif;
    letter-spacing: 3px;
    color: #33332e;
}

#logo {
    float: left;
    font-size 300%;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* navigation links */

#menu {
    font-size: 120%;
    font-weight: 500;
    letter-spacing: 3px;
    color: #7e3bc2;
}

#menu,
#logo {
    line-height: 70px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 30px;
}

#menu a {
    text-decoration: none;

}

#menu a:hover {
    border-bottom: 1px solid #7e3bc2;
}

.active {
    border-bottom: 1px solid #7e3bc2;
}

/* hero-image */

#hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text,
#cover-text h2 {
    color: rgb(255, 255, 255);
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url('../images/Marie-portrait-1.jpg') no-repeat center center;
    background-size: cover;
}


/* cover-text */

#cover-text {
    font-size: 120%;
    font-family: Playfair Display, sans-serif;
    letter-spacing: 3px;
    font-display: center;
    text-align: center;

    width: 400px;
    height: 120px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    background-color: #df82df;
    opacity: .8;

    bottom: 60px;
    right: 200px;

    position: absolute;

}

/* historical misconceptions */


#historical-misconceptions {
    height: 600px;
    width: auto;
    margin-top: 110px;
    padding-bottom: 40px;
    padding-top: 40px;
}


#left-about {
    padding-top: 50px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 50px;
    width: 33%;
    float: right;
}

#center-about {
    padding-top: 20px;
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0 auto;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 30px 0;
    margin-bottom: 40px;
    font-size: 280%;
    width: auto;


}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

#circle-cover-bg {
    background: url('../images/Marie-smoking.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* timeline - timeline structure code was built with the coding tutorial 'How to Create a Vertical Timeline - HTML & CSS Tutorial' by dcode. 
Link here: https://www.youtube.com/watch?v=AIDiMA_C3sg
*/

 h1 {
    text-align: center;
    font-size: 300%;
    margin-top: 96px;
    margin-bottom: 20px;
 }
  
  .timeline {
    margin: 0 auto;
    max-width: 800px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: 'Source Sans Pro', sans-serif;
    color: #7e3bc2;
  }
  
  .timeline__component {
    margin: 0 20px 20px 20px;
  }
  
  .timeline__component--bg {
    padding: 1.5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  
  .timeline__component--bottom {
    margin-bottom: 0;
  }
  
  .timeline__middle {
    position: relative;
    background: #7e3bc2;
  }
  
  .timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #7e3bc2;
    border-radius: 50%;
  }
  
  .timeline__point--bottom {
    top: initial;
    bottom: 0;
  }
  
  .timeline__date--right {
    text-align: right;
  }
  
  .timeline__title {
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
  }
  
  .timeline__paragraph {
    line-height: 1.5;
  }
 
  /* gallery */

    #gallery {
    width: 100%;
    height:fit-content;
    margin: 100px;
    padding-inline: 30px;
    float: left;
    grid-template-columns: auto;
    grid-row: auto;
    border-radius: auto;
    }
    
    img {
      margin: 5px;
      transition: transform 0.3s;
    }
    
    img:hover {
      transform: scale(1.2);
      border: 2px solid #df82df;
      padding: 2px;
    }


   /* footer */

   footer {
    height: 150px;

  }

  .social-networks {
    text-align: center;
  }

  .social-networks > li {
    display: inline;
  }

  .social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #7e3bc2;
  }
  

